<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><i class="glyphicon glyphicon-scissors"></i> GoToStylist</h1>
                        <h3>Book Hair Styles On Your Schedule...</h3>
                        <hr class="intro-divider">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="City, State">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Find a Stylist Near Me!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <% if(!user_signed_in?) %>
    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book your next hair cut or style around your schedule...</h2>
                    <p class="lead">Have time to get your hair cut Friday at Noon... Cool! GoToStylist's search engine will match you with stylists in the area with openings during that time window. Pick a Stylist and you're all set!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book Your Favorite Stylist<br>At A Time Convenient For Both Of You!</h2>
                    <p class="lead">Save your favorite stylist to your favorites list, book time with them online, walk into the salon, and get styled. GoToStylist will even send you a reminder 24 hours ahead of your appointment!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We Guarantee the Best...<br> And Remove The Rest</h2>
                    <p class="lead">We closely monitor the rating of every stylist... If they're not getting the best reviews, we remove them from the network. Period</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2><i class="glyphicon glyphicon-scissors"></i> Let's Get Social!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>

                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <% end %>
    

   